TZ=Asia/Tokyo
HTTPD_NAME=httpd_name
MARIADB_NAME=mariadb_name
MARIADB_ROOT_PASSWD=root_password
MARIADB_DATABASE=database_name
MARIADB_HOST=hostname
MARIADB_USER_NAME=username
MARIADB_USER_PASSWORD=userpassword
ACCMGR_PATH=.

